<h1>Elections#index</h1>
<p>Find me in app/views/elections/index.html.erb</p>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
  </tr>
  <% @elections.each do |e| %>
    <tr>
      <td><%= link_to e.start_date, e %></td>
      <td><%= e.end_date %></td>
    </tr>
  <% end %>
</table>
