<div class="min-h-screen bg-gray-100 text-black">
  <section class="bg-gray-950">
    <div class="md:max-w-4xl md:mx-auto md:flex md:flex-row py-8">
      <div class="md:w-[50%] text-left md:flex md:flex-col md:gap-4 mx-6 md:mx-0">
        <h1 class="md:text-8xl text-7xl font-bold text-white">Codam Student Council Vote</h1>
      </div>
      <div class="md:w-[50%] content-end mx-6 md:mx-0"><button
          class="mx-auto bg-blue-600 p-4 rounded-md my-6 md:mb-4 md:my-0 text-white font-bold">VOTE NOW</button>
        <p class="text-xl text-white"> Vote from 17/03 till 23/03</p>
      </div>
    </div>
  </section>
</div>
