<section class="bg-gray-950">
  <div class="md:max-w-4xl md:mx-auto">
    <%= render "layouts/flash" %>
  </div>

  <div class="md:max-w-4xl md:mx-auto md:flex md:flex-row py-8">
    <div class="md:w-[50%] text-left md:flex md:flex-col md:gap-4 mx-6 lg:mx-0 my-8">
      <h1 class="md:text-7xl text-6xl font-bold text-white">
        Vote for the&nbsp;Student Council
      </h1>
    </div>
    <div class="md:w-[50%] content-end mx-6 md:mx-0 md:gap-4 my-8">
      <%= link_to vote_url do %>
        <button class="mx-auto bg-blue-600 p-4 rounded-md my-6 md:my-0 text-white font-bold mr-4 lg:mr-0">
          VOTE NOW
        </button>
      <% end %>
    </div>
  </div>
</section>
<section class="">
  <div class="md:max-w-4xl md:mx-auto md:py-24 py-12 mx-6">
    <div class="md:flex md:flex-row flex flex-col md:gap-16 gap-6">
      <div class="md:w-[50%] flex flex-col gap-6">
        <div class="">
          <h3 class="font-bold text-xl mb-2">Why vote?</h3>
          <p>The Council's priority is the wellbeing of the students. We'll take care of issues of dimerent scale so
            vou can tocus on vouri studies and student life.</p>
        </div>
        <div class="">
          <h3 class="font-bold text-xl mb-2">Unsure how to cast your vote?</h3>
          <p class="mb-2">Check out the motivation of our candidates &amp; Don't hesitate to reach out to any of us,
            either in person or on Slack, and get to know us better!</p>
          <p>We'll also be hosting a <span class="font-bold">Q&amp;A</span> session on <span class="font-bold">March
              20th at 14:00</span> in the Game room.</p>
        </div>
      </div>
      <div class="md:w-[50%]">
        <div class="">
          <h3 class="font-bold text-xl mb-2">How do I vote?</h3>
          <ul class="ml-4 list-disc flex flex-col gap-2">
            <li>Voting is open from 17.03 to 23.03</li>
            <li>Follow the <%= link_to "vote", vote_url, class: "text-blue-500 hover:underline" %> link and complete the
              ballot</li>
            <li>You can vote YES, NO, or ABSTAIN for as many candidates as you want</li>
            <li>Every vote is anonymous</li>
            <li>You can only vote once</li>
            <li>Your vote is final and cannot be changed</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
