<section>
  <div class="md:max-w-md md:mx-auto mx-6 pb-6">
    <h1 class="text-3xl md:text-4xl font-bold">Student Council Vote</h1>
    <p class="font-medium">Term: April 2025 - September 2025</p>
    <div class="my-4 bg-slate-300 rounded-md p-4">
      <ul class="list-disc pl-4">
        <li>Voting is open from 17.03 to 23.03</li>
        <li>Every vote is anonymous</li>
        <li>You can only vote once</li>
        <li>Your vote is final and cannot be changed</li>
        <li>You can vote YES, NO, or ABSTAIN for as many candidates as you want</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="max-w-md mx-auto pb-12 px-4">
    <%= render partial: 'form', locals: { vote: @vote } %>
  </div>
</section>
