<% if flash[:info] %>
  <div class="flex flex-row items-center justify-center w-full mb-6">
    <div class="rounded-md border-blue-500 bg-blue-100 p-4 border-2 flex items-center justify-center w-full">
      <p><em class="font-bold">Notice:</em> <%= flash[:info] %></p>
    </div>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="flex flex-row items-center justify-center w-full mb-6">
    <div class="rounded-md border-red-500 bg-red-100 p-4 border-2 flex items-center justify-center w-full">
      <p><em class="font-bold">Error:</em> <%= flash[:error] %></p>
    </div>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="flex flex-row items-center justify-center w-full mb-6">
    <div class="rounded-md border-yellow-500 bg-yellow-100 p-4 border-2 flex items-center justify-center w-full">
      <p><em class="font-bold">Warning:</em> <%= flash[:warning] %></p>
    </div>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="flex flex-row items-center justify-center w-full mb-6">
    <div class="rounded-md border-green-500 bg-green-100 p-4 border-2 flex items-center justify-center w-full">
      <p><em class="font-bold">Success:</em> <%= flash[:success] %></p>
    </div>
  </div>
<% end %>
