<section class="bg-gray-800 text-white">
  <div class="md:max-w-4xl md:mx-auto md:py-12 py-6 mx-6">
    <h2 class="text-3xl font-semibold text-center mb-6">Footer Idk</h2>
    <p class="text-center text-lg font-semibold">
      born to swim<br>
      Ocean is a fuck<br>
      Kil Em All 1989<br>
      I am fish man<br>
      410,757,864,530 DEAD COPS<br>
      &lt;:3&gt;&lt;
    </p>
  </div>
</section>
